@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* GENERAL */

button {
  @apply px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:bg-blue-500;
}

input {
  @apply block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
  @apply mb-4 text-gray-800 dark:text-gray-300;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply mt-6 text-3xl;
}

h3 {
  @apply mt-6 text-2xl;
}

p {
  @apply mb-4 text-gray-500 dark:text-gray-400 lg:max-w-md;
}

a {
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
  &:hover {
  }
}

@media (min-width: 1024px) {
  p {
    max-width: fit-content !important;
  }
}

blockquote:not(:last-child),
dl:not(:last-child),
ol:not(:last-child),
p:not(:last-child),
pre:not(:last-child),
table:not(:last-child),
ul:not(:last-child) {
  @apply mb-4;
}

ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

ol {
  list-style-position: outside;
  margin-left: 2em;
  margin-top: 1em;
}

ol:not([type]) {
  list-style-type: decimal;
}

blockquote {
  background-color: #f5f5f5;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

dd {
  margin-left: 2em;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f5;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

figure figcaption {
  font-style: italic;
}

code {
  background-color: #f5f5f5;
  color: #da1039;
  font-size: 0.875em;
  font-weight: 400;
  padding: 0.25em 0.5em 0.25em;
}

/* COMPONENTS */

.card {
  @apply max-w-2xl px-8 py-4 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800;
}
